.transaction-cell {
  flex: 1;
  margin: 0 0.3rem;
  color: #d2dae2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
  word-wrap: break-word;
}

.transaction-list-container {
  width: 100%;
  max-width: 2000px;
  margin: 1px auto;
  /* padding: 0.5rem;  */
}

.transaction-header {
  text-align: center;
  font-size: 1rem;
  margin-bottom: 6rem;
  color: var(--color-text);
   margin: 0.5rem 0;
}

.transaction-size-header{
  font-size: 2rem;
}

.transaction-list {
  min-height: 400px;
  overflow-y: auto;
  background-color: #2c2c54;
  border-radius: 16px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);

}

.transaction-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 0.5rem;
  border-bottom: 1px solid #575fcf;
  transition: background-color 0.3s ease-in-out;
}

.transaction-row:hover {
  background-color: #40407a;
}

.transaction-cell {
  flex: 1;
  margin: 0 0.3rem;
  color: #d2dae2;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  font-size: 0.9rem;
}

.transaction-from, .transaction-to {
  color:var(--color-text);
}

.transaction-amount {
  font-weight: bold;
  text-align: center;
}

.transaction-amount-positive {
    color: #0be881;
}
.transaction-amount-negative {
    color: var(--color-error);
}

.transaction-hash {
  color: #808e9b;
  text-align: right;
  font-size: 0.8rem;
}

@media screen and (max-width: 768px) {
  .transaction-row {
    padding: 0.5rem;
  }

  .transaction-cell {
    font-size: 0.8rem;
  }

  .transaction-amount {
    font-size: 1rem;
  }

  .transaction-hash {
    font-size: 0.75rem;
  }
}

@media screen and (max-width: 480px) {
  .transaction-row {
    flex-direction: column;
    align-items: flex-start;
  }

  .transaction-cell {
    text-align: left;
    font-size: 0.8rem;
  }
}
