.button {
  padding: 1rem 1.5rem;
  font-size: 1rem;
  background-color: var(--color-text);
  color: white;
  font-weight: bold;
  border-radius: 20px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
  letter-spacing: 1px;
  width: 100%;
  max-width: 600px;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}


@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
